<b>$title</b>
<br>
$metrics
<br>
$structure
<br>
$progress
<br><br>
<b>Why this run</b>
<br>
$why
<br><br>
<b>Before you go</b>
<br>
$prep
<br><br>
<b>Checklist</b>
<br>
$checklist
<br><br>
<b>Pep talk</b>
<br>
<i>$pep</i>
<br><br>
$quip
<br><br>
$footer
